<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>teacher</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/jquery-1.12.4.js" type="text/javascript"></script>
</head>

<body>
    <header class="mee-header">
        <div class="header-center w1200 clearfix">
            <div class="logo fl">
                <a href="#">
                    <img src="./img/logo.png" width="326" alt="mee" />
                </a>
            </div>
            <div class="header-nav fl clearfix">
                <ul>
                    <li class="fl selected"><a href="#">首页</a></li>
                    <!-- <li class="fl"><a href="#">所有课程</a></li> -->
                </ul>
            </div>
            <div class="user fr clearfix">
                <div class="username fl">教师1</div>
                <div class="head-portrait fr">
                    <a href="#">
                        <img src="./img/head.jpg" width="50" height="50" alt="">
                    </a>
                </div>
            </div>
            <div class="header-search fr">
                <input type="text" />
                <div class="search-butt"></div>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="top">
            <div class="top-center w1200">
                <div class="top-title"><i><img src="./img/address.png" alt="" /></i>教师备课薄<span id="CatalogOne"></span></div>
                <div class="top-detail clearfix">
                    <div class="detail-left fl">
                        <img src="./img/course-pic.png" width="600" height="360" alt="">
                    </div>
                    <div class="detail-right fr">
                        <h2>编写关于代理的代码</h2>
                        <div class="label">
                            <ul class="clearfix">
                                <li class="green fl">11-18岁</li>
                                <li class="blue fl">计算机科学</li>
                            </ul>
                        </div>
                        <p>通过编码建立一个拥有道路、建筑、公园、动物和风力电厂的城市</p>
                        <div class="like clearfix">
                            <i class="nolike fl"></i>160
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-detail">
            <div class="course-center w1200">
                <div class="category">
                    <ul class="clearfix">
                        <li class="fl selected">教案</li>
                        <li class="fl">视频</li>
                        <li class="fl">PPT</li>
                    </ul>
                </div>
                <div class="category-cont">
                    <div class="content-list clearfix">
                        <div class="list-left fl">
                             <iframe id="TeachPlanPDF" src="./pdfjs/web/viewer.html?file=/pdf/Lesson 1/Teacher Workbook.pdf"
                                width="950" height="1200" frameborder="0"></iframe>
                        </div>
                        <div class="list-right fr">
                            <h3>课程索引</h3>
                            <ul class="SelectLesson">
                                <li class="selected" name="1"><input type="button" value="第1课" name="1"></li>
                                <li name="2"><input type="button" value="第2课" name="2"></li>
                                <li name="3"><input type="button" value="第3课" name="3"></li>
                            </ul>
                        </div>


                    </div>
                    <div class="content-list clearfix">
                        <div class="list-left fl">
                            <video id="video" style="border: 1px solid green; border-radius: 5px;" src="./video/1.mp4"
                                width="640" height="352" controls preload="none">
                                您的浏览器不支持H5视频播放，请升级
                            </video>
                        </div>
                        <div class="list-right fr">
                            <h3>课程索引</h3>
                            <ul class="SelectLesson">
                                <li class="selected" name="1"><input type="button" value="第1课" name="1"></li>
                                <li name="2"><input type="button" value="第2课" name="2"></li>
                                <li name="3"><input type="button" value="第3课" name="3"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-list clearfix">
                        <div class="list-right fr">
                            <h3>课程索引</h3>
                            <ul class="SelectLesson">
                                <li class="selected" name="1"><input type="button" value="第1课" name="1"></li>
                                <li name="2"><input type="button" value="第2课" name="2"></li>
                                <li name="3"><input type="button" value="第3课" name="3"></li>
                            </ul>
                        </div>
                        <iframe id="TeachPptPDF" src="./pdfjs/web/viewer.html?file=/pdf/Lesson 1/Presentation.pdf"
                            width="950" height="1200" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="recommend-course">
            <div class="recommend-center w1200">
                <div class="title">推荐的课程</div>
                <div class="course-list">
                    <ul class="clearfix">
                        <li class="fl">
                            <div class="course-img">
                                <img src="./img/recommend.png" width="275" height="180" alt="">
                                <i class="nolike"></i>
                            </div>

                            <h3>计算机科学与技术</h3>
                            <p>这里是课程简介</p>
                            <div class="label">
                                <ul class="clearfix">
                                    <li class="green fl">11-18岁</li>
                                    <li class="blue fl">计算机科学</li>
                                    <li class="green fl">...</li>
                                </ul>
                            </div>
                            <a href="#">查看</a>
                        </li>
                        <li class="fl">
                            <div class="course-img">
                                <img src="./img/recommend.png" width="275" height="180" alt="">
                                <i class="nolike"></i>
                            </div>

                            <h3>计算机科学与技术</h3>
                            <p>这里是课程简介</p>
                            <div class="label">
                                <ul class="clearfix">
                                    <li class="green fl">11-18岁</li>
                                    <li class="blue fl">计算机科学</li>
                                    <li class="green fl">...</li>
                                </ul>
                            </div>
                            <a href="#">查看</a>
                        </li>
                        <li class="fl">
                            <div class="course-img">
                                <img src="./img/recommend.png" width="275" height="180" alt="">
                                <i class="nolike"></i>
                            </div>

                            <h3>计算机科学与技术</h3>
                            <p>这里是课程简介</p>
                            <div class="label">
                                <ul class="clearfix">
                                    <li class="green fl">11-18岁</li>
                                    <li class="blue fl">计算机科学</li>
                                    <li class="green fl">...</li>
                                </ul>
                            </div>
                            <a href="#">查看</a>
                        </li>
                        <li class="fl">
                            <div class="course-img">
                                <img src="./img/recommend.png" width="275" height="180" alt="">
                                <i class="nolike"></i>
                            </div>

                            <h3>计算机科学与技术</h3>
                            <p>这里是课程简介</p>
                            <div class="label">
                                <ul class="clearfix">
                                    <li class="green fl">11-18岁</li>
                                    <li class="blue fl">计算机科学</li>
                                    <li class="green fl">...</li>
                                </ul>
                            </div>
                            <a href="#">查看</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="mee-footer">
        <p>语言：简体中文 京东教育网-我的世界专区 联系我们   <a id="down" href=" https://minecraft.education.jdcloud.com/content/v7.0/products/productFamilies/applicationextensions/products" style="color: blue; padding-left:20px">点击下载软件</a></p>
    </footer>
</body>
<script>
   var isLogin = localStorage.getItem("isLogin")
   console.log(isLogin)
    if (isLogin != 1) {
         window.location.replace("/login");
    }
    $("a").attr("href1",$("a").attr("href"));
    var allMethods = {
        videoElem: $("#video")[0],
        tab: function () {
            var $categoryType = $(".category ul li"),
                $categoryCont = $(".category-cont .content-list")

            $categoryType.on('click', function () {
                var $this = $(this),
                    index = $(this).index()

                $this.addClass('selected').siblings().removeClass('selected')
                $categoryCont.eq(index).show().siblings().hide()

                //暂停视频播放
                allMethods.videoStop()
            })

        },
        videoStop: function () {
            allMethods.videoElem.pause()
        }
    }
    $(function () {
        allMethods.tab()
    })
    $(".SelectLesson li").click(function () {
        var LessonNum = $(this).children("input").attr('name');
        $(this).addClass('selected').siblings().removeClass('selected')
        $('#TeachPlanPDF').attr('src',
            './pdfjs/web/viewer.html?file=/pdf/Lesson ' + LessonNum +
            '/Teacher Workbook.pdf');
        $('#TeachPptPDF').attr('src',
            './pdfjs/web/viewer.html?file=/pdf/Lesson ' + LessonNum +
            '/Presentation.pdf');
        $('#CatalogOne').html(' > ' + $(this).children("input").val())
    })
</script>

</html>